*{
   margin:0px;
   padding:0px;
   box-sizing:border-box;
}
body{
   width:100%;
   background-image: url(img2.jpg);
   background-size:cover;
   background-repeat:no-repeat;
   text-align: center;
   padding-top: 150px;
}